name: GH-Actions-Workflow
on:
  push: 
     branches: [ "main" ]
  
  workflow_dispatch:

jobs:
  greet:
    runs-on: ubuntu-latest
    steps:
      - name: Greeting
        run: echo "Hello World" 
  display:
    runs-on: ubuntu-latest
    steps:
     - name: Checking out code
       uses: actions/checkout@v4
     - name: Displaying the code
       run: |
            ls -ltr
            cat content.txt
  info:
     runs-on: ubuntu-latest
     steps:
       - name: "Information"
         run: |
           echo "${{ toJSON(github) }}"
           echo "${{ github.run_number }}"
         
    
          
      


    
